/* whole html has image as background */
html {
  min-height: 100%;
}

/* This styles border of whole page */
#top,
#bottom,
#left,
#right {
  background: #85adcc;
  position: fixed;
  shadow: 20px 20px 20px 20px rgba(90, 158, 167, 0.4);
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

/* Gets rid of border on smaller screens */
@media only screen and (max-width: 545px) {
  /* only screen and (min-device-width: 768px) and (max-device-width: 1024px) { */
  #top,
  #bottom,
  #left,
  #right {
    display: none;
  }
  .wrap {
    padding: 3%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}
