/* Styles jumbotrons on both pages */
.header {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  margin: 0;
  padding-top: 5%;
  border: none;
  border-radius: 0%;
}

/* Adds neon effect to jumbotron headers */
.neon {
  color: #1b191a;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #85adcc, 0 0 40px #85adcc,
    0 0 80px #85adcc, 0 0 90px #85adcc, 0 0 100px #85adcc, 0 0 150px #85adcc;
}

/* Styles the welcome section of home page */
.card .lead {
  font-size: 30px;
  color: #85adcc;
  border: none;
}
