nav {
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-weight: 200;
  text-align: center;
}

.navbar-nav {
  padding-left: 5%;
  padding-top: 1%;
}
