nav {
  background-color: #343a40;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-weight: 200;
}

.navbar-nav {
  padding-top: 2%;
  padding-left: 10%;
}

.nav-item {
  float: right;
}

@media only screen and (max-width: 577px) {
}
